# API
NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1

# Application
NEXT_PUBLIC_APP_NAME=NexaWork
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Auth (JWT storage key)
NEXT_PUBLIC_AUTH_STORAGE_KEY=nexawork_auth
